.errorPage {
  padding: 100px 60px;
  color: #ff7a65;
  background: #555555;
  text-align: center;

  p {
    margin: auto;
    text-align: center;
    font-size: 2.5em;
  }

  .secondMessage {
    margin-bottom: 50px;
  }
}
