.filter {
  text-transform: uppercase;
  display: flex;
  margin: 20px 0;
  font-size: 0.95em;

  span {
    margin-right: 20px;
    line-height: 35px;
  }

  input {
    text-transform: uppercase;
    font-family: inherit;
    font-size: 1em;
    transition: background-color 0.2s;
    cursor: pointer;
    border: none;
    padding: 7px 23px;
    background: RGBA(30, 30, 30, 0.6);
    border-radius: 4px;
    color: #dddddd;
    outline: none;
  }

  input.left {
    border-radius: 4px 0 0 4px;
  }

  input.right {
    border-radius: 0 4px 4px 0;
  }

  input:hover,
  input.active {
    background: #F65261;
  }
}
