@import '~breakpoint-sass';

$tablet-wide: 800px;

.contentWrapper {
  width: 90%;
  margin: 95px auto 60px;

  .searchIconWrapper {
    font-size: 25px;
    position: absolute;
    right: 60px;
    top: 20px;
    color: #F65261;
    cursor: pointer;
    transform: rotate(90deg);
  }

  .mainWrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    @include breakpoint($tablet-wide) {
      flex-direction: row;
    }

    .imgWrapper {
      margin-right: 40px;

      img {
        width: 100%;
        min-width: 150px;
        max-width: 300px;

        @include breakpoint($tablet-wide) {
          min-width: 250px;
        }
      }
    }

    .wrapper {
      .ratingWrapper {
        display: inline-block;
        position: relative;

        .title {
          text-transform: capitalize;
          margin-bottom: 0;

          @include breakpoint($tablet-wide) {
            margin-top: -12px;
          }
        }

        .rating {
          position: absolute;
          right: -85px;
          top: 25px;
          border: 2px solid #777777;
          width: 60px;
          height: 60px;
          border-radius: 50%;
          text-align: center;
          line-height: 60px;
          color: green;
          font-size: 1.5em;

          @include breakpoint($tablet-wide) {
            top: -13px;
          }
        }
      }

      .tagline {
        margin-top: 10px;
        color: #959595;
        font-size: 0.9em;
      }

      .movieDate {
        display: flex;

        p {
          margin: 10px 20px 10px 0;
          color: #C6424E;
          font-size: 1.3em;
        }

        span {
          color: #5A5F63;
          font-size: 0.7em;
        }
      }

      .overview {
        color: #cccccc;
      }
    }
  }
}
