.searchResult {
  background: #232323;
  padding: 70px 60px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow: auto;
  max-height: 1150px;
}
